.CityBlock{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 17px;
}

.CityBlock--name{
    font-family: "Helvetica Neue",Arial,sans-serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: .01em;
    text-transform: none;
    line-height: .4em;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
