.S2--header{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    white-space: pre-wrap;
    font-weight: 100;
    font-size: 2.1em;
    letter-spacing: -.01em;
    margin: 0 0 .67em 0;
    color: rgba(6,4,4,.75);
}

.S2--content{
    font-family: "Helvetica Neue",Arial,sans-serif;
    text-align: center;
    white-space: pre-wrap;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    letter-spacing: .01em;
    line-height: 1.8em;
    text-transform: none;
    color: rgba(6,4,4,.75);
    width: 67%;

}

.S3-div{
    width: 100%;
}

.boxbuttonbutton{
    border: 2px solid white;
}

.boxbuttonbutton:hover{
    color: rgba(255, 255, 255, .8);
    border: 2px solid rgba(255, 255, 255, .8);
}

.S4--header--div{
    margin-top: 100px;
}

.S4--header{
    
    font-family: 'Raleway', sans-serif;
    text-align: center;
    white-space: pre-wrap;
    font-weight: 100;
    font-size: 2.1em;
    letter-spacing: -.01em;
    margin: 0 0 .67em 0;
    color: rgba(6,4,4,.75);
}