.NewsLetterSignUp--Container{
    height: 230px;
    background-color: rgba(28,115,86,.05);
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin-top: 118px;
}

.NewsLetterSignUp--Title{
    margin-top: 17px;
    color: #525252;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.NewsLetterSignUp--h2{
    margin-top: 17px;
    margin: 0;
    padding: 0;
    font-weight: 700;
}

.NewsLetterSignUp--Subheader{
    display: flex;
    justify-content: center;
    color: rgba(112,112,112,.5);
    margin-top: -20px;
    font-weight: 700;
}


.NewsLetterSignUp--FormDiv{
    display: flex;
    justify-content: center;
}

.NewsLetterSignUp--Form__Spacer{
    margin: 0 5px;
}

.NewsLetterSignUp--Input{
    height: 17px;
    width: 212px;
    padding: 15px;
    border: 1px solid rgba(0,0,0,.12);
    outline: none;
}

::placeholder{
    color: rgba(0,0,0,.12);
}

.NewsLetterSignUp--Button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #707070;
    padding: 15px 37.7px;
    color: #707070;
    font-size: 15px;
    cursor: pointer;
    transition-duration: .25s;
}

.NewsLetterSignUp--Button:hover{
    color: white;
    background-color: #707070;
}

.NewsLetterSignUp--Footer{
    display: flex;
    justify-content: center;
    color: rgba(112,112,112,.5);
    opacity: .8;
    font-size: 13px;
    letter-spacing: .04em;
}

