.NewsLetterSignUp--Container{
    height: 230px;
    background-color: rgba(28,115,86,.05);
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin-top: 118px;
}

.NewsLetterSignUp--Title{
    color: #525252;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.NewsLetterSignUp--h2{
    margin: 0;
    padding: 0;
}

.NewsLetterSignUp--Subheader{
    display: flex;
    justify-content: center;
}


.NewsLetterSignUp--FormDiv{
    display: flex;
    justify-content: center;
}

.NewsLetterSignUp--Form__Spacer{
    margin: 0 5px;
}

.NewsLetterSignUp--Input{
    height: 17px;
    width: 212px;
    padding: 15px;
    border: 1px solid rgba(0,0,0,.12);
    outline: none;
}

::placeholder{
    color: rgba(0,0,0,.12);
}

.NewsLetterSignUp--Footer{
    display: flex;
    justify-content: center;
}

